

body {
   padding-top: 120px; 
   text-align: center;
   font-family: 'Roboto', sans-serif;
   color: sienna;
   
}

.header {
    width: 100%;
    height: 120px;
    display: block;
    position: absolute;
    top: 0px;
    border-bottom: 3px solid sienna;
}

.logo {
    width: 110px;
    height: 100px;
    float: left;
    padding: 15px;
    vertical-align: middle;
}

.navigation {
    float: right;
    height: 100%;
    margin: 0 auto;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 30px;
}

.navigation li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: sienna;
    text-decoration: underline;
    text-decoration-color: sienna;
    font-size: 25px;
    
   
}

/*BOUT SECTION*/
.container {
    min-width: 1000px;
    margin: auto;
}

.about-section {
    background-image: url(images/Tacos\ background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    margin: auto;
    opacity: 0.8;
    display: flex;
    
    
}

.about-section .text {
    margin: auto;
    background-color: white;
    width: 100%;
    opacity: 0.9;
    font-family: 'Grand Hotel' , sans-serif;
}

.text h1 {
    font-size: 65px;
    font-weight: bold;
}

.text h4 {
    font-size: 30px;
    margin-bottom: 50px;
    letter-spacing: 4px;
    font-weight: lighter;
}

/*ENDS ABOUT SECTION*/
/*FOOD SECTION*/

.menu {

}

.content h2 {
    font-family: 'Grand Hotel' , sans-serif;
    font-size: 55px;
    letter-spacing: 10px;
}

.content h3 {
    font-family: sans-serif;
    font-size: 28px;
    color: white;
    background-color: sienna;
    
}

.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.food {

}

.food img {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 240px;
    opacity: 0.8;
}

.food h3 {

}
