

body {
   padding-top: 120px; 
   text-align: center;
   font-family: 'Roboto', sans-serif;
   color: sienna;
   
}

.header {
    width: 100%;
    height: 120px;
    display: block;
    position: fixed;
    top: 0px;
    border-bottom: 3px solid sienna;
}

.logo {
    width: 110px;
    height: 100px;
    float: left;
    padding: 15px;
    vertical-align: middle;
}

.navigation {
    float: right;
    height: 100%;
    margin: 0 auto;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 30px;
}

.navigation li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: sienna;
    text-decoration: underline;
    text-decoration-color: sienna;
    font-size: 25px;
    
   
}

.about-section {
    background-image: url(images/Tacos\ background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 1200px;
    margin:  5px auto 5px auto ;
    opacity: 0.8;
    display: flex;
}

.text {
    margin: auto;
    background-color: white;
    width: 100%;
    opacity: 0.9;
    font-family: 'Grand Hotel' , sans-serif;
}

.text h1 {
    font-size: 65px;
    font-weight: lighter;
}

.text h4 {
    font-size: 25px;
    margin-bottom: 50px;
}